<p id="notice"><%= notice %></p>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for @user do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name, :placeholder => 'First Name' %>
    <%= f.input :last_name, :placeholder => 'Last Name' %>
    <%= f.input :email, :placeholder => 'Email' %>
      <%= f.input :password, :placeholder => 'Password' %>
      <%= f.input :password_confirmation, :placeholder => 'Password Confirmation' %>
    <%= f.input :role, :as => :select, :collection => getRoles, :blank => nil %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>