<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role.title if @user.role %>
  </p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', dashboard_user_path(current_user) %>
